<div class="left">
Day 1: <a href="http://www.spellyourfriends.com/">Spell Your Friends</a><br/>
Day 2: <a href="http://www.threetopower.com/">Three To Power</a><br/>
Day 3: <a href="http://www.interossip.com"/>InterOssip</a><br/>
Day 4: <a href="http://movethebrush.duostack.ne/t">Move The Brush</a>
</div>
<div class="main">
<p>My new year's resolution is to launch a new website everyday. I'm going to code up a bit of every idea I have laying around, everyday. It may be simple PHP or Rails app, or something more, but I predict 365 ripples will make a splash.
</p>
<p>I'm a programmer, and I often have many ideas for websites. I'm a big fan of the minimal viable product concept, and I know a lot can be done in a day. After reading 37signal's book Reworked, and thinking about the power of small successes, I decided why not come out something new everyday.</p>

<p>In early November 2010, I started swimming everday. I've recognized the power of consistent commitment. So, now I'm applying this to my web ideas, and will be releasing a new website, everyday, for all of 2011. I suspect some of these may great successes. Others may amount to nothing. Yet, 365 new web ideas is quite something!!!</p>

<p>Consistency is the key to do so many things. Think of all the possibilites. I know not everything can be done in a day. I expect some of these things to go on to be bigger and greater things. Others will probably wither in the great internet sphere.  </p>

<p>So, check back often. You can also follow me on Twitter and Github; and like my facebook page. Check back everday for the results of my progress. </p>

---Gershon Bialer<br/><br/>

<a href="https://github.com/gersh/websiteaday">Github</a>|<a href="http://www.twitter.com/gersh17">My Twitter</a> | <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FMy-Website-A-Day-Challenge%2F178231015531617&amp;width=400&amp;colorscheme=light&amp;show_faces=false&amp;stream=false&amp;header=false&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:62px;" allowTransparency="true"></iframe> 
</div>
